# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

| Case         | Result        | Notes        |
| :----------- | :------------ | :----------- |
| 5.1         |     OK    |      none   |
| 1.1         |     OK    |      none   |
| 1.2         |     OK    |      none   |
| 1.3         |     OK    |      none   |
| 2.1         |     OK    |      none   |
| 2.2         |     OK    |      none   |
| 2.3         |     OK    |      The test adapted check 2.3 desc  |
| 3.1         |     OK    |      none   |
| 3.2         |     OK    |      none   |
| 3.3         |     OK    |      none   |
| 3.4         |     OK    |      none   |
| 3.5         |     OK    |      none   |
| 3.6         |     OK    |      none   |
| 4.1         |     OK    |      Credit are subtracted at the beginning of the contract and kept in a variable |

## 2.1 description
When a item is deleted earlier then the credits are refunded due to cancellation as such borrowers credits will be increased.
 
## 4.1 description 
In our application, and as stated in the README.md, when a user creates a contract the contract reserves the credits from the borrower at its beginning. Then if the contract is completed it is given to the lender otherwise if the item is deleted before it is active the credit amounts are refunded.